form {
  width: 600px;
  border: 2px solid #ced4da;
  border-radius: .25rem;
  padding: 15px;
  margin-bottom: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

th {
  width: 20%;
}

.selected {
   background-color: crimson!important;
}

tbody tr {
  cursor: pointer;
}

.buttons-wrapper {
  align-self: start;
  padding: 0 20px;
  margin-bottom: 10px;
}

.table {
  text-align: center;
}

.edit {
  font-weight: 700;
}